<h1 id="sponsor-Vue-js-Development">赞助 mypUI 的开发</h1>

<p>
mypUI 是采用 MIT 许可的开源项目，使用完全免费。
但是随着项目规模的增长，也需要有相应的资金支持才能持续项目的维护的开发。你可以通过下列的方法来赞助 mypUI 的开发。
</p>

<h2 id="One-time-Donations">一次性赞助</h2>

<p>我们通过以下方式接受赞助：</p>

<div style="display:flex;flex-direction:row;flex-wrap:wrap;margin-top:16px;">
	<div>
	  <img src="<%- url_for("/images/pay_wx_68.png") %>" style="width:300px;height:400px;">
	</div>
	<div>
	  <img src="<%- url_for("/images/pay_ali_68.png") %>" style="width:300px;height:400px;">
	</div>
</div>

<h2 id="Recurring-Pledges">周期性赞助</h2>

<p>
周期性赞助可以获得额外的回报，比如你的名字会出现在 mypUI 的 GitHub 仓库中，再比如你的公司 logo 会出现在我们的官网上。
</p>

<p>
如果你是企业经营者并且将 mypUI 用在商业产品中，那么赞助 mypUI 有商业上的益处：<b>可以让你的产品所依赖的框架保持健康并得到积极的维护</b>，也能帮助你在 mypUI/uniapp 社区里获得更高的曝光度，从而更容易地吸引到 mypUI/uniapp 开发者。
</p>

<p>
如果你是个人开发者并且享受 mypUI 带来的高开发效率，可以用捐助来表示你的谢意 —— 就好像偶尔给我买杯咖啡 :)
</p>
