<li class="nav-dropdown-container support-vue">
  <a href="<%- url_for("/support-mypui/") %>" class="nav-link">支持 mypUI</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/support-mypui/") %>#One-time-Donations" class="nav-link">一次性赞助</a></li>
    <li><a href="<%- url_for("/support-mypui/") %>#Recurring-Pledges" class="nav-link">周期性赞助</a></li>
  </ul>
</li>
