<ul class="menu-root">
  <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'guide') { %>
      <% if (fileName === 'why') { %>
        <li><h3>基础</h3></li>
      <% } %>
	  <% if (fileName === 'myp-list') { %>
	    <li><h3>列表与盒子</h3></li>
	  <% } %>
	  <% if (fileName === 'myp-flex') { %>
	    <li><h3>布局</h3></li>
	  <% } %>
	  <% if (fileName === 'myp-navbar') { %>
	    <li><h3>导航</h3></li>
	  <% } %>
	  <% if (fileName === 'myp-button') { %>
	    <li><h3>数据输入</h3></li>
	  <% } %>
	  <% if (fileName === 'myp-cell') { %>
	    <li><h3>数据展示</h3></li>
	  <% } %>
	  <% if (fileName === 'myp-popup') { %>
	    <li><h3>反馈互动</h3></li>
	  <% } %>
	  <% if (fileName === 'myp-refresher') { %>
	    <li><h3>手势</h3></li>
	  <% } %>
      <% if (fileName === 'mixins') { %>
        <li><h3>复用与组合</h3></li>
      <% } %>
      <% if (fileName === 'routing') { %>
        <li><h3>规模化</h3></li>
      <% } %>
      <% if (fileName === 'team') { %>
        <li><h3>更多</h3></li>
      <% } %>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
